<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin dashboard</title>
</head>

<body>
    <h3>Welcome {{ username }}!</h3>
    <p>Available actions</p>
    <ol>
        <li>
            <a href="/admin/password">Change password</a>
        </li>
        <li>
            <a href="/admin/newsletters">Send newsletter issue</a>
        </li>
        <li>
            <form name="logoutForm" action="/admin/logout" method="post">
                <input type="submit" value="Logout">
            </form>
        </li>
    </ol>
</body>

</html>