<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>

<body>
    {% if message_html %}
    <p><i>{{ message_html }}</i></p>
    {% endif %}
    <form action="/admin/password" method="post">
        <label>
            Current password
            <input type="password" placeholder="Enter your current password" name="current_password">
        </label>
        <br>
        <label>
            New password
            <input type="password" placeholder="Enter your new password" name="new_password">
        </label>
        <br>
        <label>
            Confirm new password
            <input type="password" placeholder="Type your new password again" name="new_password_check">
        </label>
        <br>
        <button type="submit">Change password</button>
    </form>
    <p><a href="/admin/dashboard">&lt; - Back</a></p>
</body>

</html>